[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"bs4" = "*"
"html5lib" = "*"
flask = "*"
flask-table = "*"
python-daemon = "*"
pytz = "*"
python-dateutil = "*"
tzlocal = "*"
daemon = "*"
"pypiwin32" = "*"


[dev-packages]



[requires]

python_version = "3.6"
