[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
html5lib = "*"
flask = "*"
flask-table = "*"
python-daemon = "*"
pytz = "*"
python-dateutil = "*"
tzlocal = "*"
daemon = "*"

[dev-packages]

[requires]
python_version = "3.12"
