<!DOCTYPE HTML>
<html>

<head>
  <title>Plumb the Market - defaults page</title>
  <meta name="description" content="your investing scoreboard" />
  <meta name="keywords" content="AIM, investing, market, scoreboard" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index.html">plumb the <span class="logo_colour">Mark</span></a></h1>
          <h2>your personal investing scoreboard.</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="{{url_for("index")}}">Home</a></li>
          <li><a href="{{url_for("folder")}}">Folder</a></li>
          <li  class = "selected"><a href="{{url_for("defaults")}}">Defaults</a></li>
          <li><a href="{{url_for("history")}}">History</a></li>
        </ul>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">
        <div class="sidebar">
            <h3>Latest News</h3>
            {% for note in notes %}
                <h5>{{ note.date }}</h5>
                <p>{{ note.content }}</p>
            {% endfor %}
            <ul>
                <li><a href="https://amazon.com/author/smithja" target="_blank" >my Amazon Bookshelf</a></li>
                <li><a href="https://github.com/meprogrammerguy" target="_blank" >my GitHub page</a></li>
                <li><a href="http://meprogrammerguy.com/" target="_blank" >my Blog</a></li>
                <li><a href="https://twitter.com/meprogrammerguy/" target="_blank" >my Twitter</a></li>
                <li><a href="http://www.wallstreetsurvivor.com/accountoverview/" target="_blank" >Wall Street Survivor</a></li>
                <li><a href="https://www.alphavantage.co/" target="_blank" >Alpha Vantage</a></li>
                <li><a href="https://iextrading.com/" target="_blank" >IEX trading</a></li>
            </ul>
            <p style="color:red;">{{feedback | safe}}</p>
        </div>
        <div id="content">
            <div>
                <h1>Defaults</h1>
                {{table | safe}}
                <form action="#" method="post">
                <div class="form_settings">
                    <p><span>&nbsp;</span><input class="submit" type="submit" name="action" value="reset" style="float: right;"/></p>
                </div>
                </form>
            </div>
            <div>
                <h1>Adjustments</h1>
                <form action="#" method="post">
                <div class="center">
                    <p><select id="id" name="column">{{column_options | safe}}</select>
                    <input type="text" name="value" value=""/></p>
                </div>
                <div class="form_settings">
                    <p><span>&nbsp;</span><input class="submit" type="submit" name="action" value="adjust" style="float: right;"/></p>
                </div>
                </form>
            </div>
            <div class="left">
                <h1>Stock Polling</h1>
                <form action="#" method="post">
                <div>
                    <p class="center" style="color:{{daemon_color}}">{{daemon_check}}</p>
                    <p class="center">{{daemon_info}}</p>
                    {{daemon_table | safe}}
                </div>
                <div class="form_settings">
                    <p><span>&nbsp;</span><input class="submit" type="submit" name="action" value="{{daemon_action}}" style="float: right;"/></p>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
      <p><a href="{{url_for("index")}}">Home</a> | <a href="{{url_for("folder")}}">Folder</a> | <a href="{{url_for("defaults")}}">Defaults</a> | <a href="{{url_for("history")}}">History</a></p>
      <p>Copyright &copy; shadowplay_2  | <a href="http://www.html5webtemplates.co.uk">design from HTML5webtemplates.co.uk</a></p>
    </div>
    </div>
</body>
</html>
