<!DOCTYPE HTML>
<html>

<head>
  <title>Plumb the Market - your current investments</title>
  <meta name="description" content="your investing scoreboard" />
  <meta name="keywords" content="AIM, investing, market, scoreboard" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet"/>
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index.html">plumb the <span class="logo_colour">Mark</span></a></h1>
          <h2>your personal investing scoreboard.</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <li><a href="{{url_for("index")}}">Home</a></li>
          <li  class = "selected"><a href="{{url_for("folder")}}">Folder</a></li>
          <li><a href="{{url_for("defaults")}}">Defaults</a></li>
          <li><a href="{{url_for("history")}}">History</a></li>
        </ul>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">
        <div class="sidebar">
            <h3>Latest News</h3>
            {% for note in notes %}
                <h5>{{ note.date }}</h5>
                <p>{{ note.content }}</p>
            {% endfor %}
            <ul>
                <li><a href="https://amazon.com/author/smithja" target="_blank" >my Amazon Bookshelf</a></li>
                <li><a href="https://github.com/meprogrammerguy" target="_blank" >my GitHub page</a></li>
                <li><a href="https://twitter.com/meprogrammerguy/" target="_blank" >my Twitter</a></li>
            </ul>
            <h3>Search</h3>
            <form method="post" action="#">
                <p>
                    <h5 class="left">Stock Ticker Symbol</h5>
                    <input class="search" type="text" onfocus="this.value=''" name="action" value="symbol"/>
                    <input hidden type="text" name="symbol" value="stock"/>
                    <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="{{ url_for('static', filename='search.png') }}" alt="Search" title="Search" />
                    <p style="color:red;">{{feedback | safe}}</p>
                </p>
            </form>
            <form method="post" action="#">
                <p>
                    <h5 class="left">Crypto Ticker Symbol</h5>
                    <input class="search" type="text" onfocus="this.value=''" name="action" value="symbol"/>
                    <input hidden type="text" name="symbol" value="crypto"/>
                    <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="{{ url_for('static', filename='search.png') }}" alt="Search" title="Search" />
                    <p style="color:red;">{{feedback | safe}}</p>
                </p>
            </form>
        </div>
        <div id="content">
            <h1 class="center">{{folder_name}}</h1>
            {% if items %}
                <table style="width=100%; border-spacing=0;">
                    <thead>
                        <tr>
                            <th></th>
                        {% for key in keys %}
                            <th>{{key}}</th>
                        {% endfor %}
                        </tr>
                    </thead>

                    <tbody>
                    {% for item in items %} 
                        <tr>
                            <td>
                                {% if item['symbol'] != "$" %}
                                    <form action="#" method="post"><input class="submit" type="submit" name="action" value="remove">
                                        <input hidden type="text" name="remove_symbol" value="{{item['symbol']}}"/>
                                        <input hidden type="text" name="remove_type" value="{{item['crypto']}}"/>
                                    </form>
                                {% endif %}
                            </td>
                        {% set fil = "/folder/" + item['symbol'] + ".png" %}
                        {% for k, val in item.items() %}
                            {% if k == "symbol" and item['crypto'] == "yes" %}
                                <td><img src="{{ url_for('static', filename=fil)}}", alt='{{val}} logo', height='32', width='32'/></br>{{val}}</td>
                            {% elif k == "symbol" and item['symbol'] == "$" %}
                                <td><img src="{{ url_for('static', filename='$.png')}}", alt='{{val}} logo', height='32', width='32'/></br></td>
                            {% else %}
                                <td>{{val}}</td>
                            {% endif %}
                        {% endfor %}
                        </tr>
                    {% endfor %}        
                    </tbody>
                 </table>
            {% endif %}
            <form action="#" method="post">
            <div class="form_settings">
                <p><span>&nbsp;</span><input class="submit" type="submit" name="action" value="refresh" style="float: right;"/></p>
            </div>
            </form>
            <br class="clear"/>
            <div class ="left" style="{{ticker_style}}">
                <h1 class="center">Ticker Symbol Lookup</h1>
	        <p>{{ticker.description}}</p>
	        <table border=1>
	        <thead>
	            <tr>
		        <th>symbol</th>
		        <th>companyName</th>
		        <th>exchange</th>
		        <th>industry</th>
		        <th>website</th>
		        <th>CEO</th>
		        <th>issueType</th>
		        <th>sector</th>
		    </tr>
	        </thead>
	        <tbody>
                    <tr>
		        <td>{{ticker.symbol}}</td>
		        <td>{{ticker.companyName}}</td>
		        <td>{{ticker.exchange}}</td>
		        <td>{{ticker.industry}}</td>
		        <td>{{ticker.website}}</td>
		        <td>{{ticker.CEO}}</td>
		        <td>{{ticker.issueType}}</td>
		        <td>{{ticker.sector}}</td>
		    </tr>
	        </tbody>
	        </table>
                <form action="#" method="post">
                <div class="form_settings">
                    <p><span>&nbsp;</span><input class="submit" type="submit" name="action" value="add" style="float: right;"/></p>
                    <input hidden type="text" name="add_symbol" value="{{ticker.symbol}}"/>
                    <input hidden type="text" name="add_type" value="{{ticker.exchange}}"/>
                </div>
                </form>
            </div>
            <br class="clear"/>
            <h1 class="center">Adjustments</h1>
            <form action="#" method="post">
            <div class="center">
                <p><select id="id" name="symbol">{{symbol_options | safe}}</select>
                <select id="id" name="options">{{balance_options | safe}}</select>
                <input hidden type="text" name="amount" value="{{amount_options | safe}}"/>
                <input type="text" name="balance" value=""/></p>
            </div>
            <div class="form_settings">
                <p><span>&nbsp;</span><input class="submit" type="submit" name="action" value="adjust" style="float: right;"/></p>
            </div>
            </form>
            <br class="clear"/>
            <div class ="left" style="{{worksheet_style}}">
                <h1>Market Order Worksheet</h1>
                <form action="#" method="post">
                        {{worksheet_table | safe}}
                        <p style="color:blue;" class="center">{{worksheet_warning | safe}}</p>
                    <div class="form_settings">
                        <p><span>&nbsp;</span><input class="submit" type="submit" name="calculate" value="calculate" style="float: right;"/></p>
                    </div>
                </form>
            </div>
            <br class="clear"/>
        </div>
    </div>
        <div id="content_footer"></div>
        <div id="footer">
            <p><a href="{{url_for("index")}}">Home</a> | <a href="{{url_for("folder")}}">Folder</a> | <a href="{{url_for("defaults")}}">Defaults</a> | <a href="{{url_for("history")}}">History</a></p>
            <p>Copyright &copy; shadowplay_2  | <a href="http://www.html5webtemplates.co.uk">design from HTML5webtemplates.co.uk</a></p>
        </div>
    </div>
</body>
</html>
