<!DOCTYPE HTML>
<html>

<head>
  <title>Plumb the Market</title>
  <meta name="description" content="your investing scoreboard" />
  <meta name="keywords" content="AIM, investing, market, scoreboard" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet"/>
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <h1><a href="index.html">plumb the <span class="logo_colour">Mark</span></a></h1>
          <h2>your personal investing scoreboard.</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <li><a href="{{url_for("index")}}">Home</a></li>
          <li><a href="{{url_for("folder")}}">Folder</a></li>
          <li><a href="{{url_for("defaults")}}">Defaults</a></li>
          <li  class = "selected"><a href="{{url_for("history")}}">History</a></li>
        </ul>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">
        <div class="sidebar">
            <h3>Latest News</h3>
            {% for note in notes %}
                <h5>{{ note.date }}</h5>
                <p>{{ note.content }}</p>
            {% endfor %}
            <p style="color:red;">{{feedback | safe}}</p>
            <ul>
                <li><a href="https://amazon.com/author/smithja" target="_blank" >my Amazon Bookshelf</a></li>
                <li><a href="https://github.com/meprogrammerguy" target="_blank" >my GitHub page</a></li>
                <li><a href="http://meprogrammerguy.com/" target="_blank" >my Blog</a></li>
                <li><a href="https://twitter.com/meprogrammerguy/" target="_blank" >my Twitter</a></li>
                <li><a href="https://wallstreetsurvivor.com/" target="_blank" >Wall Street Survivor</a></li>
            </ul>
        </div>
        <div id="content">
            <h1 class="center">Activity</h1>
            {{table | safe}}
            <br class="clear"/>
            <h1 class="center">Export</h1>
            <p class="center">creates a spreadsheet</p>
            <form action="#" method="post">
            <div class="center">
                <p><select id="id" name="column">{{export_options | safe}}</select>
                <input type="text" name="value" onfocus="this.value=''" value="enter filename"/></p>
            </div>
            <div class="form_settings">
                <p><span>&nbsp;</span><input class="submit" type="submit" name="action" value="export" style="float: right;"/></p>
            </div>
            </form>
            <br class="clear"/>
            <h1 class="center">Archive</h1>
            <p class="center">archives and compresses your current AIM system activity</p>
            {{archive_table | safe}}
            <form action="#" method="post">
            <div class="form_settings">
                <p><span>&nbsp;</span><input class="submit" type="submit" name="action" value="archive" style="float: right;"/></p>
            </div>
            </form>
            <br class="clear"/>
        </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
      <p><a href="{{url_for("index")}}">Home</a> | <a href="{{url_for("folder")}}">Folder</a> | <a href="{{url_for("defaults")}}">Defaults</a> | <a href="{{url_for("history")}}">History</a></p>
      <p>Copyright &copy; shadowplay_2  | <a href="http://www.html5webtemplates.co.uk">design from HTML5webtemplates.co.uk</a></p>
    </div>
  </div>
</body>
</html>
