<!DOCTYPE HTML>
<html>

<head>
  <title>Plumb the Market</title>
  <meta name="description" content="your investing scoreboard" />
  <meta name="keywords" content="AIM, investing, market, scoreboard" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <h1><a href="index.html">plumb the <span class="logo_colour">Mark</span></a></h1>
          <h2>your personal investing scoreboard.</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <li><a href="{{url_for("index")}}">Home</a></li>
          <li><a href="{{url_for("folder")}}">Folder</a></li>
          <li><a href="{{url_for("defaults")}}">Defaults</a></li>
          <li  class = "selected"><a href="{{url_for("history")}}">History</a></li>
        </ul>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">
        <div class="sidebar">
            <h3>Latest News</h3>
            {% for note in notes %}
                <h5>{{ note.date }}</h5>
                <p>{{ note.content }}</p>
            {% endfor %}
            <ul>
                <li><a href="https://amazon.com/author/smithja" target="_blank" >my Amazon Bookshelf</a></li>
                <li><a href="https://github.com/meprogrammerguy" target="_blank" >my GitHub page</a></li>
                <li><a href="http://meprogrammerguy.com/" target="_blank" >my Blog</a></li>
                <li><a href="https://twitter.com/meprogrammerguy/" target="_blank" >my Twitter</a></li>
                <li><a href="http://www.wallstreetsurvivor.com/accountoverview/" target="_blank" >Wall Street Survivor</a></li>
            </ul>
            <h3>Search</h3>
            <form method="post" action="#">
                <p>
                    <input class="search" type="text" onfocus="this.value=''" name="action" value="enter year or all" />
                    <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="{{ url_for('static', filename='search.png') }}" alt="Search" title="Search" />
                    <p style="color:red;">{{feedback | safe}}</p>
                </p>
            </form>
        </div>
        <div id="content">
            <h1 class="center">Activity ({{year_string}})</h1>
            {{table | safe}}
            <br class="clear"/>
            <h1 class="center">Export</h1>
            <p class="center">creates a spreadsheet</p>
            <form action="#" method="post">
            <div class="center">
                <p><select id="id" name="column"><option value="activity">activity</option><option value="archive">archive</option><option value="portfolio">portfolio</option></select>
                <input type="text" name="value" onfocus="this.value=''" value="enter filename"/></p>
            </div>
            <div class="form_settings">
                <p><span>&nbsp;</span><input class="submit" type="submit" name="action" value="export" style="float: right;"/></p>
            </div>
            </form>
            <br class="clear"/>
            <h1 class="center">Archive</h1>
            <p class="center">archives your current AIM system activity</p>
            <form action="#" method="post">
            <div class="form_settings">
                <p><span>&nbsp;</span><input class="submit" type="submit" name="action" value="archive" style="float: right;"/></p>
            </div>
            </form>
            <br class="clear"/>


            <!-- remove this div and cleanup scoreboard.py when ready to release code-->
            <div class ="left" style="{{history_style}}">
            <p>This page contains examples of all the styled elements available as part of this design. Use this page for reference, whilst you build your website.</p>
            <h2>Headings</h2>
            <p>These are the different heading formats:</p>
            <h1>Heading 1</h1>
            <h2>Heading 2</h2>
            <h3>Heading 3</h3>
            <h4>Heading 4</h4>
            <h5>Heading 5</h5>
            <h6>Heading 6</h6>
            <h2>Text</h2>
            <p>The following examples show how the text (within '&lt;p&gt;&lt;/p&gt;' tags) will appear:</p>
            <p><strong>This is an example of bold text</strong></p>
            <p><i>This is an example of italic text</i></p>
            <p><a href="#">This is a hyperlink</a></p>
            <h2>Lists</h2>
            <p>This is an unordered list:</p>
            <ul>
                <li>Item 1 <img src="{{ url_for('static', filename='up.png') }}" alt='up' /></li>
                <li>Item 2 <img src="{{ url_for('static', filename='down.png') }}" alt='down' /></li>
                <li>Item 3 <img src="{{ url_for('static', filename='flat.png') }}" alt='flat' /></li>
                <li>Item 4 <img src="{{ url_for('static', filename='up.png') }}" alt='up' /></li>
            </ul>
            <p>This is an ordered list:</p>
            <ol>
                <li>Item 1 <img src="{{ url_for('static', filename='up.png') }}" alt='up' /></li>
                <li>Item 2 <img src="{{ url_for('static', filename='flat.png') }}" alt='flat' /></li>
                <li>Item 3 <img src="{{ url_for('static', filename='up.png') }}" alt='up' /></li>
                <li>Item 4 <img src="{{ url_for('static', filename='down.png') }}" alt='down' /></li>
            </ol>
            <h2>Images</h2>
            <p>images can be placed on the left, in the center or on the right:</p>
            <div class="left">
            <span><img src="{{ url_for('static', filename='graphic.png') }}" alt="example graphic" /></span>
            </div>
            <br class="clear"/>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum.
            </p>
            <div class="center">
            <span><img src="{{ url_for('static', filename='graphic.png') }}" alt="example graphic" /></span>
            </div>
            <br class="clear"/>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur.
            </p>
            <div class="right">
            <span><img src="{{ url_for('static', filename='graphic.png') }}" alt="example graphic" /></span>
            </div>
            <br class="clear"/>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur.
            </p>
            <h2>Tables</h2>
            <p>Tables should be used to display data and not used for laying out your website:</p>
            <table style="width=100%; border-spacing=0;">
            <form action="#" method="post">
                <tr><th></th><th>Item</th><th>Description</th></tr>
                <tr><td></td><td>Item 1</td><td>Description of Item 1</td></tr>
                <tr><td><input class="submit" type="submit" name="action_2" value="remove" /></td><td>Item 2</td><td>Description of Item 2</td></tr>
                <tr><td><input class="submit" type="submit" name="action_3" value="remove" /></td><td>Item 3</td><td>Description of Item 3</td></tr>
                <tr>
                    <td><input class="submit" type="submit" name="action_4" value="remove" /></td>
                    <td>Item 4</td>
                    <td>Description of Item 4</td>
                </tr>
            </form>
            </table>
            <h2>Form Elements</h2>
            <form action="#" method="post">
            <div class="form_settings">
                <p><span>Form field example</span><input type="text" name="name" value="" /></p>
                <p><span>Textarea example</span><textarea rows="8" cols="50" name="name"></textarea></p>
                <p><span>Checkbox example</span><input class="checkbox" type="checkbox" name="name" value="" /></p>
                <p><span>Dropdown list example</span><select id="id" name="name"><option value="1">Example 1</option><option value="2">Example 2</option></select></p>
                <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="name" value="button" /></p>
            </div>
            </form>
            </div> <!-- remove this div and cleanup scoreboard.py when ready to release code-->
        </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
      <p><a href="{{url_for("index")}}">Home</a> | <a href="{{url_for("folder")}}">Folder</a> | <a href="{{url_for("defaults")}}">Defaults</a> | <a href="{{url_for("history")}}">History</a></p>
      <p>Copyright &copy; shadowplay_2  | <a href="http://www.html5webtemplates.co.uk">design from HTML5webtemplates.co.uk</a></p>
    </div>
  </div>
</body>
</html>
