<!DOCTYPE HTML>
<html>

<head>
  <title>Plumb the Market</title>
  <meta name="description" content="your investing scoreboard" />
  <meta name="keywords" content="AIM, investing, market, scoreboard" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet"/>
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <h1><a href="index.html">plumb the <span class="logo_colour">Mark</span></a></h1>
          <h2>your personal investing scoreboard.</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <li  class = "selected"><a href="{{url_for("index")}}">Home</a></li>
          <li><a href="{{url_for("folder")}}">Folder</a></li>
          <li><a href="{{url_for("defaults")}}">Defaults</a></li>
          <li><a href="{{url_for("history")}}">History</a></li>
        </ul>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">
        <div class="sidebar">
            <h3>Latest News</h3>
            {% for note in notes %}
                <h5>{{ note.date }}</h5>
                <p>{{ note.content }}</p>
            {% endfor %}
            <ul>
                <li><a href="https://amazon.com/author/smithja" target="_blank" >my Amazon Bookshelf</a></li>
                <li><a href="https://github.com/meprogrammerguy" target="_blank" >my GitHub page</a></li>
                <li><a href="http://meprogrammerguy.com/" target="_blank" >my Blog</a></li>
                <li><a href="https://twitter.com/meprogrammerguy/" target="_blank" >my Twitter</a></li>
                <li><a href="http://www.wallstreetsurvivor.com/accountoverview/" target="_blank" >Wall Street Survivor</a></li>
            </ul>
            <p style="color:red;">{{feedback | safe}}</p>
        </div>
        <div id="content">
            <h1 class="center">Scoreboard</h1>
            <div class="left">
                <ul>
                    <h4>Balance</h4>
                    {{balance_list | safe}}
                </ul>
                <ul>
                    <h4>Allocation</h4>
                    {{allocation_list | safe}}
                </ul>
            </div>
            <div class="right">
                <ul>
                <h4>Lifetime</h4>
                {% for life in lives %}
                    {% if life.arrow == 'flat' %}
                        <li>{{life.percent | safe}} <img src="{{ url_for('static', filename='flat.png') }}" alt='flat'/></li>
                    {% endif %}
                    {% if life.arrow == 'up' %}
                        <li>{{life.percent | safe}} <img src="{{ url_for('static', filename='up.png') }}" alt='up'/></li>
                    {% endif %}
                    {% if life.arrow == 'down' %}
                        <li>{{life.percent | safe}} <img src="{{ url_for('static', filename='down.png') }}" alt='down'/></li>
                    {% endif %}
                {% endfor %}
                </ul>
                <ul>
                <h4>Trending</h4>
                {% for trend in trends %}
                    {% if trend.arrow == 'flat' %}
                        <li>{{trend.percent | safe}} <img src="{{ url_for('static', filename='flat.png') }}" alt='flat'/></li>
                    {% endif %}
                    {% if trend.arrow == 'up' %}
                        <li>{{trend.percent | safe}} <img src="{{ url_for('static', filename='up.png') }}" alt='up'/></li>
                    {% endif %}
                    {% if trend.arrow == 'down' %}
                        <li>{{trend.percent | safe}} <img src="{{ url_for('static', filename='down.png') }}" alt='down'/></li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
            <div class="center">
                <h4>Value</h4>
                <li><strong>Initial {{initial_value | safe}}</strong></li>
                <li><strong>Profit {{profit_value | safe}} or {{profit_percent | safe}}</strong></li>
            </div>
            <br class="clear"/>
            <div class="center">
                <h1>(AIM) System</h1>
                <h6>devised by: Robert Lichello - HOH TO MAKE $1,000,000 IN THE STOCK MARKET AUTOMATICALLY! (Fourth Revised Edition) &copy; 2001</h6>
                <h4>Check list</h4>
                <li>Correct any issues with your folder to get accurate numbers</li>
                <li>You do not have to post, buy or sell if you are just looking</li>
                <li>When you do press buy or sell the button will gray out until tomorrow</li>
                <li>After pressing the buy or sell make sure to follow through with your broker</li>
            </div>
            <br class="clear"/>
            {{table | safe}}
            <p class="center" style="color:blue;"><strong>{{initialize_prompt | safe}}</strong></p>
            <form action="#" method="post">
            <div class="form_settings">
                <p><span>&nbsp;</span><input {{pushed_button}} class="submit" type="submit" name="action" value="{{post_display}}" style="{{post_background}} float: right;"/></p>
            </form>
            </div>
            <br class="clear"/>
        </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
      <p><a href="{{url_for("index")}}">Home</a> | <a href="{{url_for("folder")}}">Folder</a> | <a href="{{url_for("defaults")}}">Defaults</a> | <a href="{{url_for("history")}}">History</a></p>
      <p>Copyright &copy; shadowplay_2  | <a href="http://www.html5webtemplates.co.uk">design from HTML5webtemplates.co.uk</a></p>
    </div>
    </div>
</body>
</html>
