<!DOCTYPE HTML>
<html>

<head>
  <title>Plumb the Market</title>
  <meta name="description" content="your investing scoreboard" />
  <meta name="keywords" content="AIM, investing, market, scoreboard" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index.html">plumb the <span class="logo_colour">Mark</span></a></h1>
          <h2>your personal investing scoreboard.</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li  class = "selected"><a href="{{url_for("index")}}">Home</a></li>
          <li><a href="{{url_for("folder")}}">Folder</a></li>
          <li><a href="{{url_for("defaults")}}">Defaults</a></li>
          <li><a href="{{url_for("history")}}">History</a></li>
        </ul>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">
      <div class="sidebar">
        <!-- insert your sidebar items here -->
        <h3>Latest News</h3>
        <h5>May 7th, 2018</h5>
        <p>Began the construction of this page.<br /></p>
        <!--h5>January 1st, 2011</h5>
        <p>2011 sees the redesign of our website. Take a look around and let us know what you think.<br /><a href="#">Read more</a></p>
        <h3>Useful Links</h3-->
        <ul>
          <li><a href="https://amazon.com/author/smithja" target="_blank" >my Amazon Bookshelf</a></li>
          <li><a href="https://github.com/meprogrammerguy" target="_blank" >my GitHub page</a></li>
          <li><a href="http://meprogrammerguy.com/" target="_blank" >my Blog</a></li>
        </ul>
      </div>
      <div id="content">
        <!-- insert the page content here -->
        <h1>Scoreboard</h1>
        <div class="left">
            <h2>Balance</h2>
            <ul>
                <li>Cash 50%</li>
                <li>Stock 50%</li>
            </ul>
        </div>
        <div class="right">
            <h2>Allocation</h2>
            <ul>
                <li>Cash 50%</li>
                <li>Stock 50%</li>
            </ul>
        </div>
        <div class="center">
            <h2>Value</h2>
            <p><strong>Initial $10,000</strong></p>
            <p><strong>Current $20,000</strong></p>
            <p><strong>Profit $10,000</strong></p>
            <p><strong>Percent 32%</strong></p>
        </div>
        <h1>A.I.M. method</h1>
        {{table | safe}}
      </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
      <p><a href="{{url_for("index")}}">Home</a> | <a href="{{url_for("folder")}}">Folder</a> | <a href="{{url_for("defaults")}}">Defaults</a> | <a href="{{url_for("history")}}">History</a></p>
      <p>Copyright &copy; shadowplay_2  | <a href="http://www.html5webtemplates.co.uk">design from HTML5webtemplates.co.uk</a></p>
    </div>
  </div>
</body>
</html>
