<!DOCTYPE HTML>
<html>

<head>
  <title>Plumb the Market</title>
  <meta name="description" content="your investing scoreboard" />
  <meta name="keywords" content="AIM, investing, market, scoreboard" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet"/>
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <h1><a href="index.html">plumb the <span class="logo_colour">Mark</span></a></h1>
          <h2>your personal investing scoreboard.</h2>
        </div>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">
    <div id="content">
        <h1>Default Tests</h1>
        <pre>{{test_stock | safe}}</pre>
        <h1>Folder Tests</h1>
        <pre>{{test_folder | safe}}</pre>
        <h1>History Tests</h1>
        <pre>{{test_history | safe}}</pre>
        <h1>AIM Tests</h1>
        <pre>{{test_aim | safe}}</pre>
    </div>
    </div>
    </div>
</body>
</html>
